<div class="wrapper dark:bg-gray-900">
    <header>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor"
             class="w-6 h-6 text-orange-500">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"/>
        </svg>
        <span class="text-lg text-gray-900 dark:text-white">{{ 'Cookies Consent'|trans({}, 'StreamlinedBundle') }}</span>
    </header>

    <div class="data dark:text-slate-400">
        <p>{{ 'This website use cookies to help you have a superior and more relevant browsing experience on the website.'|trans({}, 'StreamlinedBundle') }}</p>
    </div>

    <div class="buttons">
        <button class="button" id="acceptBtn">{{ 'Accept'|trans({}, 'StreamlinedBundle') }}</button>
        <button class="button" id="declineBtn">{{ 'Decline'|trans({}, 'StreamlinedBundle') }}</button>
    </div>
</div>
